@import "../../theme/variables";

.Loader {
  width: 90px;
  height: 90px;
  top: 60px;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;

  &.-custom-relative {
    width: 90px;
    height: 90px;
    top: 26px;
    left: calc(50% + 4px);
    transform: translate(-50%, 0);
  }

  &.-loader {
    width: 180px;
    height: 180px;
    top: 50%;
    transform: translate(-50%, -50%);

    @media (max-width: $width-xx) {
      width: 120px;
      height: 120px;
    }
  }

  @keyframes animation {
    0% {
      stroke-dasharray: 1 98;
      stroke-dashoffset: -105;
    }
    50% {
      stroke-dasharray: 80 10;
      stroke-dashoffset: -160;
    }
    100% {
      stroke-dasharray: 1 98;
      stroke-dashoffset: -300;
    }
  }

  #spinner {
    transform-origin: center;
    animation-name: animation;
    animation-duration: 1.2s;
    animation-timing-function: cubic-bezier;
    animation-iteration-count: infinite;
  }
}
