@import "../../../theme/variables";

.ReadMoreButton {
  position: absolute;
  bottom: 0;
  right: 0;
  background: none;
  border: 2px solid $nav-button-background;
  font-size: $font-size-small;
  font-weight: bold;
  z-index: 999;
  transition: 0.25s;
  border-radius: 25px;
  overflow: hidden;
  padding: $padding-spacing-small / 2.5 $padding-spacing-small;

  a {
    color: $font-color-primary;
    text-decoration: none;
  }

  &:after {
    content: "";
    display: block;
    width: 0%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: $nav-button-background;
    z-index: -1;
    transition: 0.25s;
    opacity: 0;
  }

  &:hover {
    border: 2px solid $nav-button-background;

    a {
      color: $font-color-secondary;
    }

    &:after {
      width: 100%;
      opacity: 1;
    }
  }
}
