@import "../../theme/variables";

.Marvel {
  display: flex;
  flex-flow: column;
  height: 100%;
  padding: $padding-spacing-medium;
  transition: 0.25s;

  .Marvel-content {
    display: flex;
    flex-direction: column;
    padding: $padding-spacing-medium;
    background: $background-color-primary;
    background: url("../../assets/images/superheros-image.jpg");
    background-size: cover;
    flex: 1 1 auto;
    border-radius: 12px;
    position: relative;
    box-shadow: 3px 6px 13px -6px rgba(0, 0, 0, 0.25);
    transition: 0.25s;
    z-index: 99;
    overflow: hidden;

    &:after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      background: $background-marvel;
      opacity: 0.85;
    }

    .hero-close {
      margin: 0 auto;
      background: none;
      color: $font-color-primary;
      border: none;
      font-size: 32px;
      position: absolute;
      top: 8px;
      left: 20px;
      background: $background-color-primary;
      border-radius: 50%;
      padding: 1px 3px 0 3px;
    }

    .hero-title {
      color: $font-color-secondary;
      margin: $margin-spacing-medium auto;
      font-size: $font-size-title-large + 10;
      letter-spacing: 2px;
      font-family: "HallOfHeroes", Arial, Helvetica, sans-serif;
    }
  }

  .hero-wrapper {
    display: flex;
    flex-wrap: wrap;
    position: relative;

    .HeroContainer {
      width: 25%;
      margin: 0 0 $margin-spacing-medium 0;
      animation: reveal 1.25s ease-in-out;
      transition: 0.25s;

      @media (max-width: $width-md) {
        width: 50%;
      }

      @media (max-width: $width-xs) {
        width: 100%;
      }

      &.is-active {
        position: absolute;
        left: 0;
        top: 0;
        z-index: 999;
        width: 100%;
        height: 100%;
        display: flex;

        @media (max-width: $width-xs) {
          width: 100%;
          flex-direction: column;

          .Hero {
            .hero-image {
              max-width: 600px;
              margin: 0 auto;
            }
          }

          .hero-extra-content {
            max-width: 100%;
            min-height: 81%;
            border-top-right-radius: 0;
            border-bottom-left-radius: 12px;
          }
        }

        .Hero {
          margin: 0;
          height: 100%;
          transition: 0.25s;
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
          cursor: unset;

          @media (max-width: $width-xs) {
            max-width: 100%;
            border-top-left-radius: 12px;
            border-top-right-radius: 12px;
            border-bottom-left-radius: 0;
            height: fit-content;
          }
        }

        .hero-extra-content {
          display: block;
        }
      }

      .hero-extra-content {
        display: none;
        width: 100%;
        max-width: calc(100% - 245px);
        border-top-right-radius: 12px;
        border-bottom-right-radius: 12px;
        padding: $padding-spacing-medium;
        background: $background-color-primary;

        @media (max-width: $width-md) {
          overflow-x: hidden;
          overflow-y: auto;
        }

        .hero-desc-title {
          font-family: "HallOfHeroes", Arial, Helvetica, sans-serif;
          text-transform: uppercase;
          font-size: $font-size-title-medium;
          letter-spacing: 1px;
          margin: 0 0 $margin-spacing-medium 0;
          color: $font-color-primary;
        }

        .hero-desc {
          font-family: "HallOfHeroes", Arial, Helvetica, sans-serif;
          text-transform: uppercase;
          font-size: $font-size-title-small;
          margin: 0 0 $margin-spacing-medium 0;
          color: $font-color-primary;
        }
      }

      .Hero {
        width: 100%;
        height: 100%;
        max-width: 245px;
        background: $background-color-secondary;
        margin: 0 auto;
        border-radius: 12px;
        padding: $padding-spacing-small / 4 $padding-spacing-medium
          $padding-spacing-medium $padding-spacing-medium;
        transition: 0.25s;
        cursor: pointer;

        .hero-image {
          width: 100%;
          height: 425px;
          background-size: cover;
          background-position: center;
          transition: 0.25s;
        }

        .hero-name {
          text-align: center;
          font-size: $font-size-title-medium;
          color: $font-color-primary;
          font-weight: bold;
          transition: 0.25s;

          p {
            font-family: "HallOfHeroes", Arial, Helvetica, sans-serif;
            text-transform: uppercase;
            letter-spacing: 1px;
            margin: $margin-spacing-small 0;
          }
        }
      }
    }
  }

  @keyframes reveal {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }
}
