@import "../../theme/variables";

.dark-theme {
  .Marvel {
    .Marvel-content {
      background: $background-color-primary-dark;
      background: url("../../assets/images/superheros-image.jpg");

      .hero-close {
        color: $font-color-secondary;
        background: $background-color-primary-dark;
      }
    }

    .hero-wrapper {
      .HeroContainer {
        .hero-extra-content {
          background: $background-color-primary-dark;
        }

        .hero-desc-title {
          color: $font-color-secondary;
        }

        .hero-desc {
          color: $font-color-secondary;
        }
        .Hero {
          background: $background-color-secondary-dark;

          @media (max-width: $width-xs) {
            height: fit-content;
          }

          .hero-name {
            color: $font-color-secondary;
          }
        }
      }
    }
  }
}
