@import "../../../theme/variables";

.dark-theme {
  .BookViewGrid {
    transition: 0.25s;
    .BookViewGrid-left {
      box-shadow: 10px 10px 12px 1px rgba(0, 0, 0, 0.25);
    }

    .BookViewGrid-wrapper {
      background: $background-color-secondary-dark;
    }

    .BookItem-right {
      .book-title {
        color: $font-color-secondary;
      }

      .book-subtitle,
      .description-title {
        color: $font-color-secondary;
      }

      .book-author,
      .description-content {
        color: $font-color-secondary;
        opacity: 0.6;
      }
    }

    .description-title,
    .description-content {
      color: $font-color-secondary;
    }
  }
}
