@import "../../../theme/variables";

.BookViewGrid {
  min-width: 33.3333%;
  max-width: 33.3333%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0 $padding-spacing-medium;
  position: relative;

  @media (max-width: $width-xx) {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
  }

  .BookViewGrid-wrapper {
    width: 100%;
    padding: $padding-spacing-medium;
    border-radius: 16px;
    background: $background-color-secondary;
  }

  .BookViewGrid-left {
    width: 100%;
    max-width: 128px;
    height: 190px;
    background-size: cover;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    box-shadow: 10px 10px 12px 1px rgba(0, 0, 0, 0.25);
    background-position: center;
  }

  .BookView-top {
    display: flex;
    align-items: flex-start;
    width: 100%;
    position: relative;
  }

  .BookItem-right {
    width: calc(100% - 128px);
    margin: 0 0 0 $margin-spacing-small;

    .book-title {
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      margin: $margin-spacing-large 0 $margin-spacing-small 0;
      font-size: $font-size-large;
      color: $font-color-tertiary;
    }

    .book-subtitle,
    .description-title {
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: $font-size-medium;
      color: $font-color-tertiary;
      margin: 0;
    }

    .book-author,
    .description-content {
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: $font-size-small;
      margin: $margin-spacing-small 0 0 0;
      color: $font-color-primary;
      opacity: 0.6;
    }
  }

  @media (max-width: $width-xs) {
    .BookItem-description {
      display: none;
    }

    .BookView-top {
      flex-direction: column;
    }

    .BookViewGrid-left {
      margin: 0 auto;
    }

    .BookItem-right {
      width: 100%;
      margin: 0;
      text-align: center;
      min-height: 145px;
    }

    .ReadMoreButton {
      position: absolute;
      bottom: 0;
      right: 50%;
      transform: translate(50%, 0);
      margin: $margin-spacing-small auto 0 auto;
    }
  }
}
