@import "../../theme/variables";

.ReviewRating {
  margin: 0 0 $margin-spacing-medium 0;

  .fa-star {
    margin: 0 $margin-spacing-small / 2;
    opacity: 0.9;

    &:first-child {
      margin: 0 $margin-spacing-small / 2 0 0;
    }

    &:last-child {
      margin: 0 0 0 $margin-spacing-small / 2;
    }
  }
}
