@import "../../theme/variables";

.BookView {
  position: relative;
  width: 100%;
  height: fit-content;

  &.-custom {
    display: flex;
    top: 0;
    justify-content: space-between;
    flex-direction: column;
  }

  .BookView-items {
    width: 100%;
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: center;
  }

  .grid-view {
    display: flex;
    min-width: 100%;
    flex: 0;
    min-height: 230px;
    flex-wrap: nowrap;
    margin: 0 -16px;
    transition: 0.65s ease-in-out;
    position: relative;
  }

  .grid-error {
    margin: 0 auto;
    font-size: $font-size-title-large;
    font-weight: bold;
    height: fit-content;
    color: $font-color-primary;
    align-self: center;

    .fa-book {
      margin: 0 $margin-spacing-small 0 0;
    }
  }

  .button-wrapper {
    display: flex;
    position: relative;
    justify-content: flex-end;
    margin: 0 0 $margin-spacing-medium 0;
  }

  .BookView-button {
    position: relative;
    top: 0;
    font-size: $font-size-small - 4;
    font-weight: normal;
    transition: 0.15s;
    height: fit-content;
    cursor: pointer;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.25);
    background: $background-color-secondary;
    width: 28px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;

    &.is-disabled {
      opacity: 0.25;
      cursor: default;
    }

    &:hover {
      opacity: 0.5;
    }

    &.-left {
      margin: 0 $margin-spacing-medium 0 0;
    }

    &.-right {
      margin: 0 0 0 $margin-spacing-medium;
    }
  }
}
