@import "../../theme/variables";

.dark-theme {
  transition: 0.25s;
  .BookView {
    .grid-error {
      color: $font-color-secondary;
    }
    .BookView-button {
      color: $font-color-secondary;
      background: $background-color-secondary-dark;
      border: 1px solid rgba(255, 255, 255, 0.5);
    }
  }
}
