@import "../../theme/variables";

.Home {
  display: flex;
  flex-flow: column;
  height: 100%;
  padding: $padding-spacing-medium;
  transition: 0.25s;

  .header-home {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 $margin-spacing-medium 0;
    transition: 0.25s;
  }

  .Home-content {
    display: flex;
    flex-direction: column;
    padding: 16px;
    margin: 180px 0 0 0;
    background: $background-color-primary;
    flex: 1 1 auto;
    border-radius: 12px;
    box-shadow: 3px 6px 13px -6px rgba(0, 0, 0, 0.25);
    transition: 0.25s;
  }
  .search-icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
  }

  .SearchField {
    border: none;
    width: 100%;
    height: 100%;
    padding: 0 $padding-spacing-medium 0 $padding-spacing-large;
    font-size: $font-size-medium;
    font-weight: bold;
    color: $font-color-tertiary;
    background: transparent;

    &:focus {
      outline: none;
    }

    &::placeholder {
      color: $font-color-primary;
    }
  }

  .home-featured {
    position: relative;
    min-height: 140px;
  }

  .featured-home-title {
    text-align: center;
    color: $font-color-tertiary;
    font-size: $font-size-title-large;
    text-transform: uppercase;
    font-weight: bold;
  }
}
