@import "../../theme/variables";

.dark-theme {
  .Home {
    transition: 0.25s;
    .Home-content {
      background: $background-color-primary-dark;
      transition: 0.25s;
    }

    .SearchField {
      color: $font-color-secondary;

      &:focus {
        outline: none;
      }

      &::placeholder {
        color: $font-color-secondary;
      }
    }

    .featured-home-title {
      color: $font-color-secondary;
      opacity: 0.8;
    }
  }
}
