@import "../../theme/variables";

.dark-theme {
  .Details {
    transition: 0.25s;
    position: relative;
    display: flex;
    flex-direction: column;
    left: -22px;
    width: calc(100% + 22px);
    overflow: hidden;
    min-height: 100vh;
    background: $background-color-primary-dark;

    .details-synopsis {
      color: $font-color-secondary;

      .synopsis-title {
        color: $font-color-secondary;
      }

      .synopsis-content {
        color: $font-color-secondary;
      }
    }
  }
}
