@import "../../theme/variables";

.Details {
  position: relative;
  display: flex;
  flex-direction: column;
  left: -22px;
  width: calc(100% + 22px);
  overflow: hidden;
  min-height: 100vh;
  background: $background-color-secondary;
  transition: 0.25s;

  .details-top {
    width: 100%;
    z-index: 99;
    position: relative;
    overflow: hidden;
    padding: 200px 16px;
    padding-left: $padding-spacing-medium + 22px;

    .details-image {
      width: 105%;
      height: 110%;
      position: absolute;
      left: 0;
      top: -40px;
      background-size: cover;
      background-position: center top;
      filter: blur(1.5rem);
      z-index: -1;

      &:after {
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        background: $background-gradient;
        opacity: 0.65;
        filter: blur(0);
      }
    }

    .details-content {
      max-width: 520px;
      width: 100%;
      display: flex;
      justify-content: center;
      position: relative;
      left: 50%;
      transform: translate(-50%, 0);
      flex-direction: column;

      .details-content-top {
        display: flex;

        @media (max-width: $width-xx) {
          flex-direction: column;

          .details-content-image {
            margin: 0 auto;
            min-height: 188px;
          }

          .details-text {
            margin: $margin-spacing-medium 0 0 0;
            text-align: center;
          }

          .details-purchase {
            position: relative;
            width: fit-content;
            margin: 0 auto;
          }
        }
      }

      .details-content-bottom {
        width: 100%;
        margin: $margin-spacing-medium 0 0 0;
        opacity: 0.7;
        color: $font-color-secondary;
        font-size: $font-size-medium;
        display: flex;
        justify-content: space-between;
        align-self: flex-start;

        p {
          margin: 0;
        }

        .fa-pen {
          margin: 0 $margin-spacing-small 0 0;
        }
      }
    }

    .details-content-image {
      width: 128px;
      height: 188px;
      flex: 0 0 128px;
      box-shadow: 8px 8px 11px 3px rgba(0, 0, 0, 0.5);
      background-size: cover;
      position: relative;
      background-position: center;

      .favourited {
        position: absolute;
        display: block;
        left: 10px;
        top: 0;
        width: 24px;
        height: 0;
        text-align: center;
        padding: $padding-spacing-small / 2 0 0 0;
        background: $button-background-alt;
        color: $font-color-secondary;
        font-size: $font-size-small;
        animation: revealBackground 0.25s forwards;

        .fa-star {
          opacity: 0;
          animation: revealContent 0.25s forwards;
          animation-delay: 0.25s;
        }
      }
    }

    .details-text {
      margin: 0 0 0 16px;
      color: $font-color-secondary;
      position: relative;

      @media (min-width: $width-xx + 1) {
        flex: 0 0 calc(100% - 144px);
        max-width: calc(100% - 144px);
      }

      .details-title,
      .details-subtitle,
      .details-author,
      .publish-date {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 100%;
        margin: 0 0 $margin-spacing-medium 0;
        opacity: 0.7;
      }

      .details-purchase {
        position: absolute;
        right: 0;
        bottom: 0;
        display: flex;
        align-items: center;

        .purchase-button,
        .details-favourite {
          padding: $padding-spacing-small $padding-spacing-medium;
          border: none;
          border-radius: 20px;
          font-weight: bold;
          box-shadow: 2px 4px 7px 0px rgba(0, 0, 0, 0.2);
          transition: 0.25s;
          position: relative;
          overflow: hidden;
          z-index: 99;
          border-width: 2px;
          border-style: solid;

          &:active {
            transform: scale(1.1) translateY(-2px);
          }

          &:after {
            content: "";
            display: block;
            width: 0%;
            height: 100%;
            position: absolute;
            left: 50%;
            top: 0;
            background: $font-color-secondary;
            z-index: -1;
            transition: 0.25s;
            opacity: 0;
          }

          &:hover {
            color: $button-background-alt;

            &:after {
              width: 100%;
              left: 0;
              opacity: 1;
            }
          }
        }

        .purchase-button {
          background: $button-background-alt;
          color: $font-color-secondary;
          border-color: $button-background-alt;

          &:after {
            background: $font-color-secondary;
          }

          &:hover {
            color: $button-background-alt;
          }
        }

        .details-favourite {
          margin: 0 0 0 $margin-spacing-small;
          background: $font-color-secondary;
          color: $button-background-alt;
          border-color: $font-color-secondary;

          &.is-favourite {
            background: $button-background-alt;
            color: $font-color-secondary;
            border-color: $button-background-alt;

            &:after {
              background: $font-color-secondary;
            }

            &:hover {
              color: $button-background-alt;
            }
          }

          &:after {
            background: $button-background-alt;
          }

          &:hover {
            color: $font-color-secondary;
          }
        }

        .purchase-icon {
          margin: 0 $margin-spacing-small 0 0;
        }
      }
    }
  }

  .details-synopsis {
    padding: 0 $padding-spacing-medium $padding-spacing-medium
      $padding-spacing-medium + 22px;
    color: $font-color-tertiary;
    box-shadow: inset 0px 25px 27px -27px rgba(31, 38, 56, 0.72);

    .synopsis-title {
      font-size: $font-size-title-medium;
      margin: $margin-spacing-medium 0 $margin-spacing-small 0;
    }

    .synopsis-content {
      font-size: $font-size-medium;
      margin: 0;
    }
  }

  .details-options {
    position: absolute;
    left: 22px;
    width: calc(100% - 22px);
    top: 16px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    color: $font-color-secondary;
    padding: 0 16px;

    .button-back {
      color: $font-color-secondary;
      background: none;
      border: none;
      font-size: 16px;
      opacity: 0.75;
      text-transform: uppercase;
      padding: 0;

      a {
        color: $font-color-secondary;
        text-decoration: none;
        width: 100%;
        height: 100%;
      }

      span {
        margin: 0 0 0 $margin-spacing-small / 2;
      }
    }

    .details-page-title {
      margin: 0;
      font-size: $font-size-medium;
      opacity: 0.75;
      font-weight: normal;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);

      @media (max-width: $width-xs) {
        width: 50%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        text-align: center;
      }
    }

    .fa-search {
      opacity: 0.75;
      display: none;
    }
  }

  @keyframes revealBackground {
    from {
      height: 0;
    }

    to {
      height: 36px;
    }
  }

  @keyframes revealContent {
    from {
      opacity: 0;
      transform: scale(0.5);
    }

    50% {
      opacity: 0.43;
      transform: scale(1.2);
    }

    to {
      opacity: 0.85;
      transform: scale(1);
    }
  }
}
