@import "../../theme/variables";

.Navigation {
  border-left: none;
  border-right: none;
  padding: $padding-spacing-large 0;
  margin: $margin-spacing-large 0;

  .nav-category {
    margin: 0 0 $margin-spacing-large 0;
  }

  .nav-title {
    font-size: $font-size-medium;
    text-transform: uppercase;
    color: $font-color-quaternary;
    margin: 0 0 $margin-spacing-small 0;
  }

  @media (max-width: $width-md) {
    margin: 0;
    display: flex;
    justify-content: center;
    padding: 8px 0;

    .nav-category {
      margin: 0;
      display: flex;

      .nav-title {
        display: none;
      }

      .NavButton {
        margin: 0 $margin-spacing-small;

        &.-marvel {
          .nav-button {
            padding: $padding-spacing-small $padding-spacing-medium $padding-spacing-small - 2 $padding-spacing-medium;
            .nav-link-title {
              display: block;
            }
          }
        }
      }

      .nav-button {
        width: fit-content;
        .nav-link-title {
          display: none;
        }

        .fa-w-18,
        .fa-w-16 {
          margin: 0;
        }
      }
    }
  }
}
