@font-face {
  font-family: "FiraGo";
  src: url(".././assets/fonts/FiraGO-Medium.eot");
  src: url(".././assets/fonts/FiraGO-Medium.woff2") format("woff2"),
    url(".././assets/fonts/FiraGO-Medium.woff") format("woff"),
    url(".././assets/fonts/FiraGO-Medium.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "FiraGo";
  src: url(".././assets/fonts/FiraGO-Bold.eot");
  src: url(".././assets/fonts/FiraGO-Bold.woff2") format("woff2"),
    url(".././assets/fonts/FiraGO-Bold.woff") format("woff"),
    url(".././assets/fonts/FiraGO-Bold.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "FiraGo";
  src: url(".././assets/fonts/FiraGO-Light.eot");
  src: url(".././assets/fonts/FiraGO-Light.woff2") format("woff2"),
    url(".././assets/fonts/FiraGO-Light.woff") format("woff"),
    url(".././assets/fonts/FiraGO-Light.ttf") format("truetype");
  font-weight: light;
}

@font-face {
  font-family: "HallOfHeroes";
  src: url(".././assets/fonts/MarvelRegular-Dj83.ttf") format("truetype");
  font-weight: normal;
}
