$background-color-primary: #fff;
$background-color-primary-dark: #222222;
$background-color-secondary: #f4f4f7;
$background-color-secondary-dark: #121212;
$background-color-tertiary: #2d92ff;
$background-gradient: linear-gradient(
  0deg,
  rgba(41, 190, 214, 1) 0%,
  rgba(139, 174, 212, 1) 60%,
  rgba(177, 174, 219, 1) 100%
);
$background-marvel: #e23636;

$button-background: #f4f4f7;
$button-font-color-primary: #000;
$button-background-active: #000;
$button-background-active-dark: #fff;
$button-font-color-active: #fff;
$button-font-color-active-dark: #000;
$button-background-alt: #29bed6;
$button-background-secondary: #2d92ff;
$button-background-hover: #1f2638;
$nav-button-background: #2d92ff;

$font-color-primary: #000;
$font-color-secondary: #fff;
$font-color-tertiary: #1f2638;
$font-color-quaternary: #a1a1a1;
$font-color-alt: #29bed6;
$font-color-alt-secondary: #2d92ff;

$border-color-primary: #161c2c;

$font-size-medium: 16px;
$font-size-small: 14px;
$font-size-large: 20px;
$font-size-title-medium: 24px;
$font-size-title-small: 20px;
$font-size-title-large: 32px;

$padding-spacing-small: 8px;
$padding-spacing-medium: 16px;
$padding-spacing-large: 36px;

$margin-spacing-small: 8px;
$margin-spacing-medium: 16px;
$margin-spacing-large: 36px;

$width-xx: 560px;
$width-xs: 920px;
$width-md: 1200px;
$width-lg: 1920px;
