@import "./fonts";
@import "./variables";

* {
  box-sizing: border-box;
  font-family: "FiraGo", Arial, Helvetica, sans-serif;
}

body {
  height: 100%;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  button {
    &:focus {
      outline: none;
    }
  }

  .App {
    display: flex;
    justify-content: flex-start;
    background: $background-color-secondary;
    position: relative;
    z-index: 999;
    min-height: 100vh;
    overflow: hidden;
    transition: 0.25s;

    &.dark-theme {
      background: $background-color-secondary-dark;
    }

    button {
      cursor: pointer;
    }

    .main-content {
      flex: 1 1 auto;
      max-width: calc(100% - 240px);
      transition: 0.25s;

      .sidebar-button {
        display: none;
      }

      @media (max-width: $width-md) {
        max-width: 100%;
        padding: 0 0 54px 0;
      }
    }
  }
}
