@import "../../theme/variables";

.MarvelComicsDisplay {
  display: flex;
  flex-wrap: wrap;
  .heroAvailable {
    padding: $padding-spacing-medium;
    width: 10%;
    text-align: center;

    @media (max-width: $width-md) {
      width: 20%;
    }

    @media (max-width: $width-xs) {
      width: 50%;
    }

    .heroDetail-image {
      width: 80px;
      height: 145px;
      margin: 0 auto;
      background-size: cover;
      background-position: center;
    }

    p {
      color: $font-color-primary;
      font-size: $font-size-small;
      font-family: "hallOfHeroes", Arial, Helvetica, sans-serif;
      text-transform: uppercase;
    }
  }
}
