@import "../../theme/variables";

.Favourites {
  display: flex;
  flex-flow: column;
  height: 100%;
  padding: $padding-spacing-medium;
  transition: 0.25s;

  .Favourites-content {
    display: flex;
    flex-direction: column;
    padding: 16px;
    background: $background-color-primary;
    flex: 1 1 auto;
    border-radius: 12px;
    position: relative;
    box-shadow: 3px 6px 13px -6px rgba(0, 0, 0, 0.25);
    transition: 0.25s;
  }

  .search-icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
  }

  .SearchField {
    border: none;
    width: 100%;
    height: 100%;
    padding: 0 $padding-spacing-medium 0 $padding-spacing-large;
    font-size: $font-size-medium;
    font-weight: bold;
    color: $font-color-tertiary;
    background: transparent;

    &:focus {
      outline: none;
    }

    &::placeholder {
      color: $font-color-primary;
    }
  }

  .empty-title {
    font-size: $font-size-title-medium;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $font-color-tertiary;
    font-weight: bold;

    .icon-wrapper {
      width: fit-content;
      height: fit-content;
      padding: $padding-spacing-large;
      font-size: $font-size-title-large;
      border: 8px solid $font-color-tertiary;
      border-radius: 50%;
      margin: 0 0 $margin-spacing-medium 0;
    }
  }
}
