@import "../../theme/variables";

.dark-theme {
  .Favourites {
    transition: 0.25s;
    .Favourites-content {
      background: $background-color-primary-dark;
      transition: 0.25s;
    }

    .SearchField {
      color: $font-color-secondary;
      &:focus {
        outline: none;
      }

      &::placeholder {
        color: $font-color-secondary;
      }
    }

    .empty-title {
      color: $font-color-secondary;

      .icon-wrapper {
        border: 8px solid $font-color-secondary;
      }
    }
  }
}
