@import "../../theme/variables";

.CheckBox {
  display: flex;
  margin: 0 16px;

  input[type="checkbox"] {
    height: 0;
    width: 0;
    visibility: hidden;
    transition: 0.25s;
  }

  label {
    cursor: pointer;
    text-indent: -9999px;
    width: 40px;
    height: 20px;
    background: $button-background-secondary;
    display: block;
    border-radius: 100px;
    position: relative;
    transition: 0.25s;
  }

  label:after {
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    width: 16px;
    height: 16px;
    background: #fff;
    border-radius: 90px;
    transition: 0.3s;
  }

  input:checked + label {
    background: $background-color-primary-dark;
  }

  input:checked + label:after {
    left: calc(100% - 2px);
    transform: translateX(-100%);
  }

  label:active {
    opacity: 0.5;
    transition: 0.25s;
  }

  label:active:after {
    width: 20px;
  }

  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
}
