@import "../../theme/variables";

.Settings {
  display: flex;
  flex-flow: column;
  height: 100%;
  padding: $padding-spacing-medium;
  transition: 0.25s;

  .Settings-content {
    display: flex;
    flex-direction: column;
    padding: $padding-spacing-medium;
    background: $background-color-primary;
    flex: 1 1 auto;
    border-radius: 12px;
    position: relative;
    box-shadow: 3px 6px 13px -6px rgba(0, 0, 0, 0.25);
    transition: 0.25s;

    .toggle-wrapper {
      display: flex;
      flex-direction: column;
      width: fit-content;
      background: $background-color-secondary;
      padding: $padding-spacing-medium;
      border-radius: 16px;

      .toggle-icon {
        margin: 0 $margin-spacing-small 0 0;
      }

      .toggle-title {
        margin: 0 $margin-spacing-medium $margin-spacing-small 0;
        color: $font-color-primary;
        font-size: $font-size-medium;
        font-weight: bold;
      }

      .toggle-content {
        display: flex;
        align-items: center;
        margin: 0 0 0 $margin-spacing-small;
      }

      .option {
        color: $font-color-primary;
      }
    }
  }
}
