@import "../../theme/variables";

.dark-theme {
  .Settings {
    transition: 0.25s;
    .Settings-content {
      background: $background-color-primary-dark;
      transition: 0.25s;

      .toggle-wrapper {
        background: $background-color-secondary-dark;

        .toggle-title {
          color: $font-color-secondary;
        }

        .option {
          color: $font-color-secondary;
        }
      }
    }
  }
}
