@import "../../theme/variables";

.Sidebar {
  flex: 0 0 240px;
  min-height: 100vh;
  background: $background-color-secondary;
  overflow: hidden;
  padding: $padding-spacing-medium $padding-spacing-large;
  z-index: 9999;
  position: relative;
  transition: 0.25s;

  @media (max-width: $width-md) {
    left: 0;
    min-height: fit-content;
    bottom: 0px;
    width: 100%;
    padding: 0;
    background: $background-color-primary;
    flex: 0;
    position: fixed;
    box-shadow: 0px -5px 20px -4px rgba(0, 0, 0, 0.2);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.2);
  }

  .main-title {
    color: $font-color-primary;
    font-size: $font-size-title-medium * 1.25;
    margin: $margin-spacing-small 0 $margin-spacing-large 0;
    width: 100%;
    transition: 0.25s;

    @media (max-width: $width-md) {
      position: absolute;
      margin: 0 0 0 8px;
      top: 50%;
      transform: translateY(-50%);
      overflow: hidden;
      font-size: $font-size-title-medium;
    }
  }
}
