@import "../../theme/variables";

.dark-theme {
  .Sidebar {
    transition: 0.25s;
    background: $background-color-secondary-dark;

    @media (max-width: $width-md) {
      background: $background-color-primary-dark;
      box-shadow: 0px -5px 20px -4px rgba(0, 0, 0, 0.2);
    }
  }

  .main-title {
    color: $font-color-secondary;
  }
}
