@import "../../../theme/variables";

.dark-theme {
  .FeaturedBook {
    transition: 0.25s;
    &:after {
      background: $background-color-secondary-dark;
    }

    .featured-book-content {
      .featured-book-title {
        color: $font-color-secondary;
      }

      .featured-book-rating {
        color: $font-color-secondary;

        .fa-star {
          color: $font-color-alt-secondary;
        }
      }
    }
  }
}
