@import "../../../theme/variables";

.FeaturedBook {
  flex: 0 0 50%;
  width: 50%;
  max-width: 50%;
  display: flex;
  margin: 0 0 $margin-spacing-medium;
  padding: 0 $padding-spacing-medium 0 0;
  position: relative;
  z-index: 9;

  &:after {
    content: "";
    display: block;
    width: calc(100% - #{$padding-spacing-medium});
    height: 100%;
    background: $background-color-secondary;
    position: absolute;
    left: 8px;
    top: 8px;
    z-index: -1;
    border-radius: 8px;
  }

  @media (max-width: $width-xs) {
    flex: 0 0 100%;
    width: 100%;
    max-width: 100%;
  }

  .FeaturedBookImage {
    width: 64px;
    height: 90px;
    background-size: cover;
    flex: 0 0 64px;
  }

  .featured-book-content {
    flex: 1 1 auto;
    max-width: calc;
    max-width: calc(100% - 80px);
    position: relative;
    margin: 0 0 0 $margin-spacing-small;

    .featured-book-title {
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      margin: $margin-spacing-small + 4px 0 $margin-spacing-small 0;
      font-size: $font-size-medium;
      color: $font-color-tertiary;
    }

    .featured-book-rating {
      margin: $margin-spacing-small 0 $margin-spacing-small 0;
      font-size: $font-size-small;
      color: $font-color-tertiary;

      .fa-star {
        color: $font-color-alt-secondary;
        margin: 0 $margin-spacing-small / 2 0 0;
      }
    }

    .featured-read-more {
      left: 0;
      right: unset;
      position: relative;
    }
  }
}
