@import "../../../theme/variables";

.dark-theme {
  .BookViewList {
    background: $background-color-secondary-dark;
    transition: 0.25s;
    .BookViewList-left {
      .BookView-rating {
        color: $font-color-secondary;
      }
    }

    .BookViewList-right {
      .book-title {
        color: $font-color-secondary;
      }

      .book-subtitle,
      .description-title {
        color: $font-color-secondary;
      }

      .book-author,
      .description-content {
        color: $font-color-secondary;
        opacity: 0.6;
      }
    }
  }
}
