@import "../../../theme/variables";

.BookViewList {
  width: 100%;
  margin: 0 0 $margin-spacing-medium 0;
  padding: $padding-spacing-medium;
  border-radius: 16px;
  background: $background-color-secondary;
  display: flex;

  .BookViewList-left {
    flex: 0 0 128px;

    .BookView-Image {
      width: 100%;
      height: 180px;
      background-size: cover;
    }

    .BookView-rating {
      font-size: $font-size-small;
      margin: $margin-spacing-small auto 0 auto;
      width: fit-content;
      opacity: 0.75;
      color: $font-color-alt;
    }
  }

  .BookViewList-right {
    flex: 1 1 auto;
    padding: 0 $padding-spacing-medium;
    position: relative;
    max-width: calc(100% - 128px);

    .book-title {
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      margin: 0 0 $margin-spacing-small 0;
      font-size: $font-size-large;
      color: $font-color-tertiary;
    }

    .book-subtitle,
    .description-title {
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: $font-size-medium;
      color: $font-color-tertiary;
      margin: 0;
    }

    .description-title {
      font-weight: normal;
      margin: $margin-spacing-medium 0 0 0;
    }

    .book-author,
    .description-content {
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: $font-size-small;
      margin: $margin-spacing-small 0 0 0;
      color: $font-color-primary;
      opacity: 0.6;
    }
  }
}
