@import "../../../theme/variables";

.FeaturedItemBlock {
  flex: 0 0 50%;
  max-width: 50%;

  @media (max-width: $width-xx) {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .featured-books {
    display: flex;
    flex-wrap: wrap;
  }

  .featured-items-title {
    margin: 0 0 $margin-spacing-medium 0;
    text-transform: capitalize;
    font-weight: bold;
    position: relative;
    z-index: 99;

    .featuted-title {
      font-size: $font-size-title-medium;
      color: $font-color-tertiary;
      background: $background-color-primary;
      width: fit-content;
      padding: 0 $padding-spacing-medium 0 $margin-spacing-small;
      margin: 0 0 0 $margin-spacing-small / 2;
    }

    &:before {
      content: "";
      display: block;
      position: absolute;
      left: 0;
      top: 50%;
      width: 50%;
      height: 4px;
      background: $font-color-tertiary;
      transform: translate(0, -50%);
      z-index: -1;
    }
  }
}
