@import "../../../theme/variables";

.dark-theme {
  .FeaturedItemBlock {
    transition: 0.25s;
    .featured-items-title {
      .featuted-title {
        color: $font-color-secondary;
        background: $background-color-primary-dark;
      }

      &:before {
        background: $font-color-secondary;
      }
    }
  }
}
