@import "../../../theme/variables";

.dark-theme {
  .NavButton {
    transition: 0.25s;
    .nav-button {
      color: $font-color-secondary;
      background: $background-color-secondary-dark;

      &:after {
        border: 2px solid $background-color-secondary-dark;
        border-top-color: transparent;
        border-bottom-color: transparent;
      }

      &:before {
        background: $button-background-active-dark;
      }

      &:hover {
        &:after {
          border-color: $button-background-active-dark;
          border-top-color: transparent;
          border-bottom-color: transparent;
        }
      }
    }

    &.-marvel {
      .nav-button {
        background-image: url("../../../assets/images/superheros-image.jpg");
        background-size: cover;
        background-position: center;
      }

      &.is-active {
        .nav-button {
          color: $button-font-color-active;
          background-position: bottom;

          &:before {
            background: rgba(226, 54, 54, 0.8);
            box-shadow: 0px 3px 9px -3px rgba(226, 54, 54, 0.8);
          }
        }
      }
    }

    &.is-active {
      .nav-button {
        color: $button-font-color-active-dark;

        &:before {
          box-shadow: 0px 3px 9px -3px rgba(255, 255, 255, 0.7);
        }
      }
    }
  }
}
