@import "../../../theme/variables";
@import "../../../theme/fonts";

.NavButton {
  width: 100%;
  display: block;
  margin: 0 0 $margin-spacing-medium 0;
  transition: 0.25s;

  &.settings {
    position: fixed;
    top: 90%;
    left: $padding-spacing-large;
    width: 168px;

    @media (max-height: 400px) {
      position: absolute;
      bottom: 20px;
      top: unset;
    }

    @media (max-width: $width-md) {
      position: static;
      width: unset;

      .nav-link-title {
        display: none;
      }

      .nav-button {
        .fa-w-16 {
          margin: 0;
        }
      }
    }
  }

  &.-marvel {
    .nav-button {
      background-image: url("../../../assets/images/superheros-image.jpg");
      background-size: cover;
      background-position: center;
    }

    &.is-active {
      .nav-button {
        background-position: bottom;
        &:before {
          background: rgba(226, 54, 54, 0.8);
          box-shadow: 0px 3px 9px -3px rgba(226, 54, 54, 0.7);
        }
      }
    }

    .nav-button {
      padding: 6px 16px 2px 16px;

      &:after {
        content: unset;
      }
    }

    .nav-link-title {
      font-family: "HallOfHeroes", Arial, Helvetica, sans-serif;
      font-size: 26px;
      line-height: 0.9;
    }
  }

  &:last-child {
    margin: 0;
  }

  .nav-button {
    width: 100%;
    padding: $padding-spacing-medium / 1.5 $padding-spacing-medium;
    text-align: left;
    border: none;
    transition: 0.25s;
    position: relative;
    color: $font-color-primary;
    background: none;
    z-index: 99;
    background: $background-color-secondary;
    border-radius: 20px;

    &:after {
      content: "";
      display: block;
      position: absolute;
      top: -2px;
      left: calc(50% - 2px);
      width: 0;
      height: 100%;
      border: 2px solid $background-color-secondary;
      border-radius: 20px;
      opacity: 0;
      transition: 0.25s;
      border-top-color: transparent;
      border-bottom-color: transparent;
      z-index: -1;
    }

    &:before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 50%;
      height: 100%;
      background: $button-background-active;
      border-radius: 20px;
      opacity: 0;
      transition: 0.25s;
      z-index: -1;

      @media (max-width: $width-md) {
        width: 100%;
        height: 80%;
        left: 0;
        top: unset;
        bottom: 0;
      }
    }

    .fa-w-18,
    .fa-w-16 {
      margin: 0 $margin-spacing-medium 0 0;
    }

    &:hover {
      &:after {
        width: 100%;
        left: -2px;
        opacity: 1;
        border-color: $button-background-active;
        border-top-color: transparent;
        border-bottom-color: transparent;
      }
    }
  }

  &.is-active {
    .nav-button {
      color: $button-font-color-active;

      &:before {
        width: 100%;
        opacity: 1;
        box-shadow: 0px 3px 9px -3px rgba(0, 0, 0, 0.7);

        @media (max-width: $width-md) {
          height: 100%;
        }
      }

      &:after {
        content: unset;
      }
    }
  }
}
