@import "../../theme//variables";

.dark-theme {
  .CustomSearch {
    transition: 0.25s;
    box-shadow: 3px 6px 13px -6px rgba(0, 0, 0, 0.25);
    background-color: $background-color-primary-dark;
    color: $font-color-secondary;

    .suggestions {
      background-color: $background-color-primary-dark;
    }

    .redirect-to-details {
      color: $font-color-secondary;
    }

    .SearchField {
      color: $font-color-secondary;
    }
  }
}
