@import "../../theme//variables";

.CustomSearch {
  box-shadow: 3px 6px 13px -6px rgba(0, 0, 0, 0.25);
  width: 100%;
  max-width: 340px;
  height: 42px;
  background-color: $background-color-primary;
  border-radius: 8px;
  position: relative;
  z-index: 99;

  @media (max-width: $width-xx) {
    max-width: 100%;
  }

  input {
    z-index: 99;
  }

  input[type="search"]::-webkit-search-decoration,
  input[type="search"]::-webkit-search-cancel-button,
  input[type="search"]::-webkit-search-results-button,
  input[type="search"]::-webkit-search-results-decoration {
    display: none;
  }

  .suggestions {
    width: 100%;
    background-color: $background-color-primary;
    z-index: -1;
    position: relative;
    top: 2px;
    padding: $padding-spacing-small $padding-spacing-medium;
    border-radius: 8px;
    min-height: 40px;
    box-shadow: 3px 9px 18px -6px rgba(0, 0, 0, 0.25);
  }

  .redirect-to-details {
    display: block;
    width: 100%;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: $font-size-medium;
    font-weight: bold;
    color: $font-color-alt;
    margin: 0 0 $margin-spacing-small 0;
    text-decoration: none;
    height: 24px;
  }
}
